// CSS Reset

// CSS Reset
:root {
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul ::marker,
ol ::marker {
  font-size: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//
// Variables

// FontFamily

$FF1: "Open Sans", sans-serif;
$FF2: "Raleway", sans-serif;

// Colors

$DarkBlueIntro: hsl(217, 28%, 15%);
$DarkBlueMain: hsl(218, 28%, 13%);
$DarkBlue: hsl(216, 53%, 9%);
$DarkBlueTest: hsl(219, 30%, 18%);
$CyanButton: hsl(176, 68%, 64%);
$BlueButton: hsl(198, 60%, 50%);
$LightRedError: hsl(0, 100%, 63%);
$White: hsl(0, 0%, 100%);

// Code

body {
  font-family: $FF1;
  font-family: $FF2;
  background-color: $DarkBlueMain;
  color: $White;
}

a {
  text-decoration: none;
  color: $White;
}

button {
  color: $White;
  background-image: linear-gradient(to right, $CyanButton, $BlueButton);
  border: none;
  padding: 1em 2em;
  border-radius: 100px;
  font-weight: 700;
}

.section1,
.section2,
.section3,
.section4,
.footer {
  margin-top: 10rem;
}

.row,
.nav,
.nav-links > ul,
.link > a,
.profile,
.f1,
.footer4,
.icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.col,
.main,
.section1,
.section2,
.sec2-content,
.testimonials,
.section4,
.form,
.footer1,
.contacts,
.footer2 > ul,
.footer3 > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container {
  width: 90%;
  margin-inline: auto;
}

.nav {
  padding-block: 2rem;
  justify-content: space-between;

  .logo {
    max-width: 100px;
  }

  li {
    font-size: 0.75rem;
  }
}

.main {
  max-width: 600px;
  margin-inline: auto;

  img {
    margin-block: 2rem;
  }
  button {
    width: min(80%, 300px);
    margin-top: 1rem;
  }
  p {
    max-width: 500px;
  }
}

.main,
.section1 {
  text-align: center;
  align-items: center;
}

.section1 {
  gap: 6rem;

  img {
    margin-inline: auto;
    margin-bottom: 2rem;
  }
  h3 {
    margin-bottom: 1rem;
  }
  p {
    margin-inline: auto;
    max-width: 600px;
  }
}

.section2 {
  max-width: 600px;
  margin-inline: auto;
  .image {
    margin-bottom: 2rem;
  }

  .link > a {
    color: $CyanButton;
    position: relative;
    align-items: center;
    width: fit-content;
    gap: 0.5rem;
    padding-bottom: 0.25rem;
  }

  .link > a::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: $CyanButton;
  }
}
.section3 {
  width: 90%;
  max-width: 600px;
  margin-inline: auto;

  img {
    margin-bottom: -10px;
  }

  .testimonials {
    gap: 2rem;

    img {
      width: 32px;
      border-radius: 50%;
    }
    & > div {
      background-color: $DarkBlueTest;
      width: min(100%, 560px);
      margin-inline: auto;
      padding: 2rem;
    }

    .name {
      font-weight: 700;
      letter-spacing: 1px;
    }

    .name + p {
      font-size: 0.75rem;
    }

    .profile {
      margin-top: 1.5rem;
    }
  }
}

.section4 {
  background-color: $DarkBlueIntro;
  max-width: 600px;
  margin-inline: auto;
  position: relative;
  padding: 2rem;
  text-align: center;
  margin-bottom: -22rem;

  .form {
    margin-top: 1rem;
    gap: 2rem;

    input {
      padding: 1em 2em;
      border-radius: 100px;
      border: none;
    }
  }
}

.footer {
  background-color: $DarkBlue;
  padding: 20rem 5% 3rem 5%;

  .footer1 {
    margin-top: 2rem;

    .address {
      max-width: 600px;
    }

    img {
      width: 20px;
    }

    .f1 > p {
      width: 95%;
    }

    .f1 {
      gap: 1.5rem;
    }
  }

  .footer2,
  .footer4 {
    margin-top: 6rem;
  }

  .footer3 {
    margin-top: 4rem;
  }

  .footer4 {
    .icons > * {
      flex-grow: 1;
      border: 1px solid $White;
      border-radius: 50%;
      width: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1/1;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .nav {
    .nav-links ul {
      gap: 3rem;

      li {
        font-size: 1rem;
      }
    }
  }

  .section1,
  .section2,
  .section3 {
    width: 90%;
    max-width: 1800px;
    margin-inline: auto;
  }

  .section1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .section2,
  .testimonials,
  .form {
    flex-direction: row;
  }
  input {
    flex-grow: 1;
  }
  .section2 {
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .section4 {
    margin-bottom: -18rem;
    max-width: 800px;
  }
  .footer {
    padding-top: 14rem;

    .footer-content {
      display: grid;
      align-items: flex-start;
      gap: 5rem;
      grid-auto-flow: column;
    }

    .footer1 {
      gap: 2rem;
      display: grid;
      grid-auto-flow: column;
      margin-top: 2rem;

      .address {
        align-items: flex-start;
        p {
          margin: 0;
        }
      }

      img {
        width: 24px;
      }
    }
    .footer2,
    .footer3,
    .footer4 {
      margin-top: 2rem;
    }
  }
}
