// CSS Reset

// CSS Reset
:root {
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul ::marker,
ol ::marker {
  font-size: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//
// Variables

// FontFamily

$FF1: "Open Sans", sans-serif;
$FF2: "Raleway", sans-serif;

// Colors

$DarkBlueIntro: hsl(217, 28%, 15%);
$DarkBlueMain: hsl(218, 28%, 13%);
$DarkBlue: hsl(216, 53%, 9%);
$DarkBlueTest: hsl(219, 30%, 18%);
$CyanButton: hsl(176, 68%, 64%);
$BlueButton: hsl(198, 60%, 50%);
$LightRedError: hsl(0, 100%, 63%);
$White: hsl(0, 0%, 100%);

// Code

body {
  font-family: $FF1;
  font-family: $FF2;
  background-color: $DarkBlueMain;
  color: $White;
}

a {
  text-decoration: none;
  color: $White;
}

button {
  color: $White;
  background-image: linear-gradient(to right, $CyanButton, $BlueButton);
  border: none;
  padding: 1em 2em;
  border-radius: 100px;
  font-weight: 700;
}

.section1,
.section2,
.section3,
.section4,
.footer {
  margin-top: 10rem;
}

.row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container {
  width: 90%;
  margin-inline: auto;
}

.nav {
  justify-content: space-between;

  .logo {
    width: 200px;
  }
}

.main {
    img {
        margin-block: 4rem 2rem;
    }
  button {
    width: min(80%, 360px);
    margin-top: 1rem;
  }
}

.main,
.section1 {
  text-align: center;
  align-items: center;
}

.section1 {
  gap: 6rem;
  img {
    margin-inline: auto;
    margin-bottom: 2rem;
  }
  h3 {
    margin-bottom: 1rem;
  }
}

.section2 {
    .image {
        margin-bottom: 2rem;
    }
}

.section3 {
  gap: 2rem;

  img {
    width: 32px;
    border-radius: 50%;
  }
  & > div {
    background-color: $DarkBlueTest;
    width: min(80%, 600px);
    margin-inline: auto;
    padding: 2rem;
  }

  .name {
    font-weight: 700;
    letter-spacing: 1px;
  }

  .name + p {
    font-size: 0.75rem;
  }

  .profile {
    margin-top: 1rem;
  }
}

.section4 {
  background-color: $DarkBlueIntro;
  padding: 2rem;
  text-align: center;

  .form {
    margin-top: 1rem;
    gap: 2rem;

    input {
      padding: 1em 2em;
      border-radius: 100px;
      border: none;
    }
  }
}

.footer {
  background-color: $DarkBlue;
  padding-inline: 5%;

  .footer1 {
    margin-top: 2rem;
    img {
      width: 2.5%;
    }

    .f1 > p {
      width: 95%;
    }

    .f1 {
      gap: 1.5rem;
    }
  }

  .footer2,
  .footer3 {
    margin-top: 3rem;
  }
}
